

<p>These are your lists:</p>

<ul>
	<!-- <li><a href = "/specific_list">Specific List</a></li> -->
	<% @lists.each_with_index do |list , index| %>
	<li><%= link_to list.title, "/list/#{index}" %></li>
	<!-- <li><a href="/list/<%# index %>"><%# list %></a></li> --> 
	<!-- line 9 is the same as 8 -->
	<% end %>
</ul>