
<h1>Reed the Badmon!</h1>

<h2>List: <%= @list.title %></h2>

<p>This is a specific list:</p>

<ol>
	<% @list.items.each do |item| %>
	<li><%= item %></li>
	<% end %>
	<li>
		<%= form_tag "#", method: :patch do %>  
		<input type="text" name="item" placeholder="List item" />
		<button type="submit">Add new Item</button>         
		<% end %>
		<!-- #send information back to the url you already on -->
	</li>
</ol>